*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #e3f2fd ;
}

.wrapper{
    width: 65vmin;
    height: 70vmin;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 5px;
    background: #293447;
}
.games-deltails{
    color: #b8c6dc;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 20px 27px;
    display: flex;
    justify-content: space-between;
}
.play-board{
    width: 100%;
    height: 100%;
    background: #212837;
    display: grid;
    grid-template: repeat(30, 1fr)/ repeat(30,1fr) ;
}
.play-board .food {
    background: red;
}
.play-board .head {
    background: green;
}

.game-over{
    width: 300px;
    height: 200px;
    background-color: #90a7cc;
    position: absolute;
    border:9px solid #1c4c83;
    border-radius: 10px;
    visibility: hidden;
}
.game-over p{
    color: #aa2e2e;
    font-size: 35px;
    font-weight: 900;
    margin: 15%;
}
.restart{
    width: 80px;
    height: 70px;
    margin: -10% 35%;
    border-radius: 50%;
    border: 5px solid #276e12;
    background: rgb(145, 206, 66);
}
